@import 'tailwindcss';

@theme {
  --font-sans: 'Sen', sans-serif;
  --font-serif: 'Merriweather', serif;
  --font-heading: 'Montserrat', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-fredoka: 'Fredoka One', cursive;
  --font-baloo: 'Baloo 2', cursive;
}

@layer base {
  body {
    @apply bg-white text-gray-900;
    font-family: var(--font-sans);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  a {
    @apply text-blue-600 hover:text-blue-800;
  }
}
